@use "sass:math";
@use "global" as *;

.p-gazette-article.c-text {
	margin-block: rem(75) rem(20);
	// margin-block: rem(50) rem(20);
	@include mq-down() {
		margin-block: rem(30) rem(10);
	}
}

.p-gazette-article__heading--lv3 {
	margin-block: rem(60) rem(80);
}

.p-gazette-article__message {
	margin-top: rem(120);
}
