{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/cms/wp-content/themes/jkc",
      "timeout": 20000,
      "autoUpload": true,
      "reuseConnection": true,
      "connectionType": "ftp",
      "exportHistory": true,
      "history": [
        {
          "file": "functions/admin.php",
          "mtimeMs": 1747371736639.7446,
          "date": "2025-05-16T05:02:17.237Z"
        },
        {
          "file": "functions.php",
          "mtimeMs": 1747370279269.8982,
          "date": "2025-05-16T04:37:59.852Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/front-page.php",
          "mtimeMs": 1747372416091.9636,
          "date": "2025-05-16T05:13:36.887Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/archive-faq.php",
          "mtimeMs": 1747372416091.809,
          "date": "2025-05-16T05:13:37.188Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/functions/admin.php",
          "mtimeMs": 1747372416092.2534,
          "date": "2025-05-16T05:13:37.507Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/functions/shortcode.php",
          "mtimeMs": 1747372416092.4976,
          "date": "2025-05-16T05:13:37.877Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/functions.php",
          "mtimeMs": 1747372416092.1025,
          "date": "2025-05-16T05:13:38.382Z"
        },
        {
          "file": "dist/wp-content/plugins/jkc-block/src/blocks/card-item-style-3/edit.js",
          "mtimeMs": 1747372416090.3623,
          "date": "2025-05-16T05:13:39.025Z"
        },
        {
          "file": "dist/wp-content/plugins/jkc-block/src/blocks/card-item-style-4/edit.js",
          "mtimeMs": 1747372416090.5986,
          "date": "2025-05-16T05:13:39.404Z"
        },
        {
          "file": "dist/wp-content/plugins/jkc-block/src/blocks/flow-vertical-item/edit.js",
          "mtimeMs": 1747372416091.0552,
          "date": "2025-05-16T05:13:39.920Z"
        },
        {
          "file": "dist/wp-content/plugins/jkc-block/src/blocks/flow-horizontal-title-text/edit.js",
          "mtimeMs": 1747372416090.795,
          "date": "2025-05-16T05:13:40.250Z"
        },
        {
          "file": "dist/wp-content/plugins/jkc-block/src/blocks/flow-vertical-item-text/edit.js",
          "mtimeMs": 1747372416090.921,
          "date": "2025-05-16T05:13:40.646Z"
        },
        {
          "file": "dist/wp-content/plugins/jkc-block/src/blocks/media-text/edit.js",
          "mtimeMs": 1747372416091.1968,
          "date": "2025-05-16T05:13:41.101Z"
        },
        {
          "file": "dist/wp-content/plugins/jkc-block/src/blocks/card-item-style-2/edit.js",
          "mtimeMs": 1747372416090.1946,
          "date": "2025-05-16T05:13:41.461Z"
        },
        {
          "file": "dist/wp-content/plugins/jkc-block/src/blocks/text/edit.js",
          "mtimeMs": 1747372416091.6475,
          "date": "2025-05-16T05:13:41.868Z"
        },
        {
          "file": "dist/wp-content/plugins/jkc-block/src/blocks/card-item-style-1/edit.js",
          "mtimeMs": 1747372416089.9968,
          "date": "2025-05-16T05:13:42.245Z"
        },
        {
          "file": "dist/wp-content/plugins/jkc-block/src/blocks/text-link-item/style.css",
          "mtimeMs": 1747372416470.3975,
          "date": "2025-05-16T05:13:42.616Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-arrow-forward-circle-ico01.svg",
          "mtimeMs": 1747372399914.999,
          "date": "2025-05-16T05:18:24.981Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-arrow-circle-ico01.svg",
          "mtimeMs": 1747372399914.999,
          "date": "2025-05-16T05:18:25.381Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-arrow-forward-ico01.svg",
          "mtimeMs": 1747372399914.999,
          "date": "2025-05-16T05:18:25.706Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-arrow-forward-circle-ico02.svg",
          "mtimeMs": 1747372399914.999,
          "date": "2025-05-16T05:18:26.107Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-arrow-page-next.svg",
          "mtimeMs": 1747372399914.999,
          "date": "2025-05-16T05:18:26.433Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-arrow-page-previous.svg",
          "mtimeMs": 1747372399915.999,
          "date": "2025-05-16T05:18:26.798Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-beginner-ico01.svg",
          "mtimeMs": 1747372399915.999,
          "date": "2025-05-16T05:18:27.168Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-breeds-03g.png",
          "mtimeMs": 1747372399915.999,
          "date": "2025-05-16T05:18:27.681Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-breeds-02g.png",
          "mtimeMs": 1747372399915.999,
          "date": "2025-05-16T05:18:28.058Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-breeds-01g.png",
          "mtimeMs": 1747372399915.999,
          "date": "2025-05-16T05:18:28.438Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-certificate-ico01.svg",
          "mtimeMs": 1747372399917,
          "date": "2025-05-16T05:18:28.799Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-channel-ico01.svg",
          "mtimeMs": 1747372399917,
          "date": "2025-05-16T05:18:29.535Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-contents-type-all.png",
          "mtimeMs": 1747372399917,
          "date": "2025-05-16T05:18:29.928Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-contents-type-competition.png",
          "mtimeMs": 1747372399917,
          "date": "2025-05-16T05:18:30.305Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-document-ico01.svg",
          "mtimeMs": 1747372399921,
          "date": "2025-05-16T05:18:30.664Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-contents-type-exhibition.png",
          "mtimeMs": 1747372399917,
          "date": "2025-05-16T05:18:31.056Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-dog-art-contest-ico01.svg",
          "mtimeMs": 1747372399921,
          "date": "2025-05-16T05:18:31.441Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-dog-type-ico01.svg",
          "mtimeMs": 1747372399921.999,
          "date": "2025-05-16T05:18:31.827Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-dog-show-ico01.svg",
          "mtimeMs": 1747372399921.999,
          "date": "2025-05-16T05:18:32.209Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-download-ico01.svg",
          "mtimeMs": 1747372399921.999,
          "date": "2025-05-16T05:18:32.581Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-contents-type-human_and_dog.png",
          "mtimeMs": 1747372399918.999,
          "date": "2025-05-16T05:18:32.972Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-first-dog-ico01.svg",
          "mtimeMs": 1747372399921.999,
          "date": "2025-05-16T05:18:33.381Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-contents-type-dog.png",
          "mtimeMs": 1747372399917,
          "date": "2025-05-16T05:18:33.745Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-gazette-ico01.svg",
          "mtimeMs": 1747372399921.999,
          "date": "2025-05-16T05:18:34.130Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-haiku-ico01.svg",
          "mtimeMs": 1747372399921.999,
          "date": "2025-05-16T05:18:34.474Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-kanrishi-ico01.svg",
          "mtimeMs": 1747372399923,
          "date": "2025-05-16T05:18:34.830Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-link-blank-ico01.svg",
          "mtimeMs": 1747372399923,
          "date": "2025-05-16T05:18:35.339Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-contents-type-human.png",
          "mtimeMs": 1747372399917,
          "date": "2025-05-16T05:18:35.706Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-icon-phone.svg",
          "mtimeMs": 1747372399921.999,
          "date": "2025-05-16T05:18:36.074Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-footprint-ico01.svg",
          "mtimeMs": 1747372399921.999,
          "date": "2025-05-16T05:18:36.442Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-link-pdf-ico01.svg",
          "mtimeMs": 1747372399923,
          "date": "2025-05-16T05:18:36.795Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-contents-type-members.png",
          "mtimeMs": 1747372399921,
          "date": "2025-05-16T05:18:37.162Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-breeds-09g.png",
          "mtimeMs": 1747372399917,
          "date": "2025-05-16T05:18:37.542Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-pdf-ico01.svg",
          "mtimeMs": 1747372399923,
          "date": "2025-05-16T05:18:37.910Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-photo-contest-ico01.svg",
          "mtimeMs": 1747372399923,
          "date": "2025-05-16T05:18:38.327Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-post-ico01.svg",
          "mtimeMs": 1747372399923,
          "date": "2025-05-16T05:18:38.712Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-qa-ico01.svg",
          "mtimeMs": 1747372399923,
          "date": "2025-05-16T05:18:39.033Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-rescue-dog-ico01.svg",
          "mtimeMs": 1747372399923,
          "date": "2025-05-16T05:18:39.390Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-search-ico01.svg",
          "mtimeMs": 1747372399924,
          "date": "2025-05-16T05:18:39.757Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-schedule-ico01.svg",
          "mtimeMs": 1747372399924,
          "date": "2025-05-16T05:18:40.132Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-breeds-10g.png",
          "mtimeMs": 1747372399917,
          "date": "2025-05-16T05:18:40.532Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-web-ico01.svg",
          "mtimeMs": 1747372399924,
          "date": "2025-05-16T05:18:40.898Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-footer-fci-ico01.png",
          "mtimeMs": 1747372399921.999,
          "date": "2025-05-16T05:18:41.274Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-no_image.jpg",
          "mtimeMs": 1747372399923,
          "date": "2025-05-16T05:18:41.647Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-to-top-ico01.png",
          "mtimeMs": 1747372399924,
          "date": "2025-05-16T05:18:42.026Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-footer-logo-ico01.png",
          "mtimeMs": 1747372399921.999,
          "date": "2025-05-16T05:18:42.439Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/page/faq/faq-Q.svg",
          "mtimeMs": 1747372399926,
          "date": "2025-05-16T05:18:42.840Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-logo--ico01.png",
          "mtimeMs": 1747372399923,
          "date": "2025-05-16T05:18:43.229Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/page/event_schedule/icon_awesome-calendar-alt.png",
          "mtimeMs": 1747372399926,
          "date": "2025-05-16T05:18:43.635Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-jkc-emblem-bg01.png",
          "mtimeMs": 1747372399923,
          "date": "2025-05-16T05:18:44.037Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn-dog-ico01.png",
          "mtimeMs": 1747372399921,
          "date": "2025-05-16T05:18:44.425Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/page/top/top-about-post-img01.png",
          "mtimeMs": 1747372399928.999,
          "date": "2025-05-16T05:18:44.847Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/page/top/top-bnr02.png",
          "mtimeMs": 1747372399930.999,
          "date": "2025-05-16T05:18:45.277Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/page/top/top-about-post-img02.png",
          "mtimeMs": 1747372399928.999,
          "date": "2025-05-16T05:18:51.142Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/page/top/top-about-post-img03.png",
          "mtimeMs": 1747372399930,
          "date": "2025-05-16T05:18:46.217Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/page/top/top-about-post-img04.png",
          "mtimeMs": 1747372399930,
          "date": "2025-05-16T05:18:46.697Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/page/top/top-about-post-img05.png",
          "mtimeMs": 1747372399930,
          "date": "2025-05-16T05:18:47.131Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/page/top/top-slider-arrow-ico01-sp.svg",
          "mtimeMs": 1747372399934.999,
          "date": "2025-05-16T05:18:47.523Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/page/top/top-bnr03.png",
          "mtimeMs": 1747372399930.999,
          "date": "2025-05-16T05:18:47.956Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/page/top/top-bnr05.png",
          "mtimeMs": 1747372399931.999,
          "date": "2025-05-16T05:18:48.418Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/page/top/top-bnr06.png",
          "mtimeMs": 1747372399931.999,
          "date": "2025-05-16T05:18:48.846Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/page/top/top-slider-arrow-ico01.svg",
          "mtimeMs": 1747372399934.999,
          "date": "2025-05-16T05:18:49.257Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/page/top/top-bnr07.png",
          "mtimeMs": 1747372399931.999,
          "date": "2025-05-16T05:18:49.748Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/page/top/top-bnr04.png",
          "mtimeMs": 1747372399930.999,
          "date": "2025-05-16T05:18:50.230Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/common/cmn_sub-mvLogo.png",
          "mtimeMs": 1747372399926,
          "date": "2025-05-16T05:18:50.684Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/page/top/top-about-img01-sp.png",
          "mtimeMs": 1747372399927,
          "date": "2025-05-16T05:18:51.628Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/page/top/top-mv-img01-sp.png",
          "mtimeMs": 1747372399933,
          "date": "2025-05-16T05:18:52.090Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/page/top/top-about-img01.png",
          "mtimeMs": 1747372399927.999,
          "date": "2025-05-16T05:18:53.157Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/images/page/top/top-mv-img01.png",
          "mtimeMs": 1747372399934.999,
          "date": "2025-05-16T05:18:54.106Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/css/style-editor.css",
          "mtimeMs": 1747372706513.999,
          "date": "2025-05-16T05:18:54.472Z"
        },
        {
          "file": "dist/wp-content/themes/jkc/assets/css/styles.css",
          "mtimeMs": 1747372706778,
          "date": "2025-05-16T05:18:54.867Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "removeCharset": false,
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "removeCharset": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "tailwindcss": {
        "rootDir": "",
        "content": [
          "**/*.html",
          "**/*.htm",
          "**/*.php",
          "**/*.js",
          "!wp-admin",
          "!wp-includes",
          "!node_modules",
          "!Prepros Export"
        ]
      },
      "turf": {
        "rootDir": ""
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "tailwindcss",
            "enable": false
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "babel",
            "enable": true
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": []
  }
}
