@use 'global' as *;
@use "sass:math";

// PC
.u-hidden-pc {
  @include mq-up() {
    display: none;
  }
}

// スマホ
.u-hidden-sp {
  @include mq-down() {
    display: none;
  }
}

.u-uppercase {
  text-transform: uppercase;
}

// 太字
.u-bold {
  font-weight: $bold;
}

.u-color-accent-green {
  color: $color-accent-green;
}
