@use "global" as *;
@use "sass:math";

.l-search-form {
  display: block;
  width: 100%;
  position: relative;
  top: 100%;
  margin-block: rem(40) rem(40);
  &__container {
    position: relative;
    width: 100%;
  }
  &__inr {
    width: 90%;
    margin: 0 auto;
    dl {
      dt {
        font-size: rem(16);
        font-weight: bold;
        line-height: 1;
        margin-bottom: rem(20);
        @include mq-down() {
          text-align: center;
        }
        span {
          font-size: rem(14);
          display: inline-block;
          @media screen and (max-width: 1024px) {
            line-height: 1.3;
            margin-top: rem(10);
          }
        }
      }
    }
  }
  &__box {
    width: 100%;
    @include mq-down() {
      padding-top: 0;
      border-top: none;
      white-space: nowrap;
      overflow: hidden;
    }
    .l-gnav-sp__item-search-form {
      margin: 0;
      form {
        display: flex;
        input {
          font-size: rem(15);
          font-weight: $bold;
          color: $palette-darkGray;
          width: calc(100% - rem(48));
          border-radius: rem(5) 0 0 rem(5);
          background-color: #fff;
          padding: rem(10) rem(15);
          border-top: rem(1) solid $palette-eucalyptus;
          border-bottom: rem(1) solid $palette-eucalyptus;
          border-left: rem(1) solid $palette-eucalyptus;
          border-right: none;
        }
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: rem(48);
          height: rem(48);
          background-color: $palette-salem;
          border-radius: 0 rem(5) rem(5) 0;
          background: $palette-kaitokeGreen; // 旧searchと同じ色
        }
        button img {
          display: block;
          width: rem(22.5);
          height: rem(22.5);
          object-fit: contain;
          object-position: center;
        }
      }
    }
  }
}
